* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('Graphics/Symbol 3 copy.png');
    background-position: center;
    background-size: cover;
}

.pump {
    /* background-color: yellow; */
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    width: 256px;
    height: 245px;
    margin: 20px;
    bottom: 0;
    right: 0;
}

#pbox {
    position: absolute;
    /*bottom: 10px; 
    right: 10px;  */
    
    width: 150px;
    height: auto;
    z-index: 10;
    transition: transform 0.4s cubic-bezier(0.25, 1.0, 0.5, 1.0);
}

#phandle {
    position: absolute;
    margin-bottom: 90px;
    width: 150px;
    height: auto; 
    cursor: pointer;
}

#ppipe {
    position: absolute;
    width: 150px; 
    height: auto; 
    margin-right: 90px; 
    margin-bottom: 10px; 
    transition: transform 0.4s ease;
    z-index: 1;
}



.bballoon{
    /* background-color: red; */
    position: absolute;
    --size: 1;
    width: calc(15px * var(--size)); 
    height: calc(15px * var(--size));
    transition: transform 0.5s ease-in-out;
    transform-origin: bottom right;
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    bottom: 138px;
    right: 212px;
    cursor: pointer;
    transition: top 0.5s ease, left 0.5s ease;
}

@keyframes moveDownOnce {
    0% {
        transform: translateY(0); /* Starting position */
    }
    100% {
        transform: translateY(50px); /* Move down by 20px */
    }
}

.move-down {
    animation: moveDownOnce 0.4s ease-out; /* Quick downward movement */
}

.compress {
    transform: Scale(1.1, 0.9);
}

.pmove{
    transform: translateY(5px);
}
